/* Slick Carousel */

.slick-list {
    padding: 1rem 0 2rem 0;
}
.slick-track {
    display: flex !important;
    align-items: stretch;
}
.slick-slide {
    display: flex !important;
    height: unset !important;
}
.slick-slide > div > div {
    outline: none !important;
    cursor: grab;
    height: 100%;
}
.slick-dots {
    position: relative;
    bottom: unset;
    margin-top: 1rem;
}
.slick-dots li {
    margin: 0 !important;
}
.slick-dots li button {
    padding: 0 !important;
}
.slick-dots li button:before {
    color: #ACACAC;
    font-size: 5px !important;
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    color: #3399FF;
    opacity: 1;
    font-size: 10px !important;
    margin-top: 1px !important;
}
