@tailwind base;

@tailwind components;

@tailwind utilities;


@responsive {
    .bottom-60px {
        bottom: 60px;
    }
    .bottom-102px {
        bottom: 102px;
    }
    .bottom-142px {
        bottom: 142px;
    }

    .seller-badge-1x {
        width:  50px;
        height: 50px;
    }
    .seller-badge-2x {
        width:  64px;
        height: 64px;
    }
    .seller-badge-3x {
        width:  80px;
        height: 80px;
    }

    .title-dash-99 {
        transform: translateX(-99%);
    }
    .title-dash-94 {
        transform: translateX(-94%);
    }

    .text-shadow {
        text-shadow: 0 2px 4px rgba(5, 79, 154, 0.8);
    }

    .text-shadow-md {
        text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
    }

    .text-shadow-lg {
        text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
    }

    .text-shadow-none {
        text-shadow: none;
    }
}

.btn {
    padding: 8px 46px;
    border-radius: 4px;
}
.btn.btn-blue {
    color: whitesmoke;
    background-color: theme('colors.cc-blue-light');
}
.btn.btn-blue:hover {
    background-color: theme('colors.cc-blue-second');
}
.btn.btn-blue:focus {
    background-color: theme('colors.cc-blue-light');
}
.btn.btn-yellow {
    color: theme('colors.cc-blue-dark');
    background-color: theme('colors.cc-yellow-light');
}
.btn.btn-yellow:hover {
    background-color: theme('colors.cc-yellow-second');
}
.btn.btn-black {
    color: white;
    background-color: #000000;
}
.btn.btn-black:hover {
    background-color: #202020;
}

.btn.btn-shallow-white {
    padding: 16px;
    border-radius: 0;
    color: white;
    border-bottom: solid whitesmoke 2px;
}
.btn.btn-shallow-white:hover {
    border-bottom-color: lightgray;
}
.btn.btn-shallow-black {
    padding: 16px;
    border-radius: 0;
    color: theme('colors.cc-blue-dark');
    border-bottom: solid theme('colors.cc-blue-dark') 3px;
}
.btn.btn-shallow-black:hover {
    border-bottom-color: theme('colors.cc-blue-darkest');
}

.btn.btn-nobottom {
    border-bottom: transparent 0;
}

.btn-connect .btn {
    font-size: 14px;
    padding: 6px 24px;
    border-radius: 0;
}
.btn-connect .btn:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.btn-connect .btn:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


/* Water Drop Effect Button */

.raised {
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

span {
    font-weight: 400;
}

input[type="checkbox"].toggle {
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
}
input[type="checkbox"].toggle:focus {
    outline: 0;
}

.anim {
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.anim:before {
    position: relative;
    content: '';
    display: block;
    margin-top: 100%;
}
.anim:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.clickable .toggle:checked + .anim {
    -moz-animation: anim-in 0.75s;
    -webkit-animation: anim-in 0.75s;
    animation: anim-in 0.75s;
}
.clickable .toggle:checked + .anim:after {
    -moz-animation: anim-in-pseudo 0.75s;
    -webkit-animation: anim-in-pseudo 0.75s;
    animation: anim-in-pseudo 0.75s;
}
.clickable .toggle:not(:checked) + .anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}
.clickable .toggle:not(:checked) + .anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

.hoverable:hover > .anim {
    -moz-animation: anim-out 0.75s;
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}
.hoverable:hover > .anim:after {
    -moz-animation: anim-out-pseudo 0.75s;
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

@-webkit-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-ms-keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes anim-in {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-moz-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-ms-keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@keyframes anim-in-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-webkit-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-moz-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-ms-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-moz-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@-ms-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
